# Firebase
firebase-debug.log
firebase-debug.*.log
*.log

# Project dependencies
node_modules/

# IDE configs
.vscode/
.idea/

# Firebase credentials and config
.firebaserc
firebase.json

# Other
.DS_Store
